<div class="row">
  <h1>DATOS PERSONALES</h1>

  <div class="col-lg-1"></div>
  <div class="col-lg-11">


  <p class="justificar"> <b> APELLIDOS: ORTEGA ORTEGA <br>
    NOMBRES: YUSVER JOSÉ <br>
    EDAD:58 AÑOS <br>
    LUGAR DE NACIMIENTO: MARACAIBO, EDO. ZULIA,VENEZUELA <br>
    D.N.I. 95.958.535 <br>
    CUIT - CUIL 20-95958535-1 <br>
    FECHA DE NACIMIENTO: 19-03-65 <br>
    ESTADO CIVIL: CASADO <br>
    DIRECCIÓN PROVINCIA BUENOS AIRES ,
    LOCALIDAD JOSE C PAZ . JULIO
    ACERBONI 1026 <br>
    Telefono: 1128711817 - 3885296310 - 1123048010 <br>
     E-MAIL: yusverortega@gmail.com / yusverortega@hotmail.com
      </b></p>
    </div>
</div>
