<div class="row">
  <h1>Educacion</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li><h4><img src="../../../assets/img/iutm.jpg" class="altura"> INGENIERO EN SISTEMA (Abril 2008 - Abril 2014)</h4> </li>

    </ul>
    <ul>
      <li><h5><img src="../../../assets/img/iutm.jpg" class="altura"> TECNICO SUPERIOR UNIVERSITARIO EN INFORMATICA (Abril 2008 - Diciembre 2012)</h5> </li>
    </ul>
    <ul>
      <li><h4><img src="../../../assets/img/cunibe.jpg" class="altura"> TECNICO SUPERIOR UNIVERSITARIO EN INFORMATICA(Enero 1989 - Enero 1992)</h4> </li>

    </ul>
    <ul>
      <li><h5><img src="../../../assets/img/readic.png" class="altura"> TECNICO ANALISTA EN COMPUTACION (Diciembre 1985 - Diciembre 1987)</h5> </li>

    </ul>
  </div>
</div>
