<div class="row">
  <h1>Proyectos</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <ul><h1>SCRUM historial de usuario</h1> </ul>
      <p id="justificar"><b>Realice una entrega de excel con plan de horas dedicada al proyecto o estudio. <br>
        realice  links de repositorio creados  en Github destinado para el proyecto para Front End y Back End.
        Entrega excel con product backlog (lista de requerimiento del portfolio web). <br>
        realice las estimaciones, Sprint (Developer debe trabajar el spring y priorizar). <br>
        realice un historial de usuario,  donde describen los datos del requerimiento de ciertas funcionalidades. <br>
        realice y entrege un boceto o esquema de la arquitectura de tú portfolio web donde se pueda visualizar el Front End, Back End, base de datos y tecnologías utilizadas. </b>
    </ul>
    <img src="../../../assets/img/scrum 4.png" class="foto1">

  </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
   <ul>
    <ul><h1>Maquetado de mi curriculum</h1> </ul>
    <p id="justificar"> <b> Realice y entrege un Maquetado Estático HTML</b>
  </ul>
  <img src="../../../assets/img/maqueta yusver.png" class="foto2">
</div>
