<div class="row">
  <h1>CURSOS REALIZADOS</h1>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  ">
    <img src="../../../assets/img/cevaz.jpg" class="altura">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  ">
    <p class="texto"> <h3><b>C.E.V.A.Z. </b></h3>

 </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " id="center">
      <span>
        <p class="texto"> </p><h5><b> 4TO. NIVEL DE INGLES</b></h5>

      </span>
  </div>


    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  ">
      <img src="../../../assets/img/luz.png" class="altura">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
      <p class="texto"> <h3><b>Universidad del Zulia
        Facultad de Ingeniería </b></h3>

   </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  " id="center">
        <span>
          <p class="texto"> </p><h5><b> 1era. Jornadas Científico Técnica
            Mcbo. Septiembre 1988</b></h5>

        </span>
    </div>


      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  ">
        <img src="../../../assets/img/hotel.jpg" class="altura">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  ">
        <p class="texto"> <h3><b>Hotel del Lago
          Intercontinental Mcbo-zulia</b></h3>

     </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  " id="center">
          <span>
            <p class="texto"> </p><h5><b> 7tas Jornadas Científico Técnicas Facultad de Ingeniería. Mcbo Marzo 1990.

              </b></h5>

          </span>
      </div>


        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  ">
          <img src="../../../assets/img/hotel.jpg" class="altura">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  ">
          <p class="texto"> <h3><b>Hotel del Lago
            Intercontinental Mcbo-zulia</b></h3>

       </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " id="center">
            <span>
              <p class="texto"> </p><h5><b> V SALON DE LA INDUSTRIA PETROLERA
                15 AL 18 DE JULIO 1997</b></h5>

            </span>
        </div>


          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  ">
            <img src="../../../assets/img/Inces.jpg" class="altura">
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  ">
            <p class="texto"> <h3><b>I.N.C.E. (Mcbo-Zulia)</b></h3>

         </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  " id="center">
              <span>
                <p class="texto"> </p><h5><b> MICROSOFT OFFICE (WORD, POWER POINT ,PUBLISHER Y EXCEL).

                  </b></h5>

              </span>
          </div>




        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  ">
          <img src="../../../assets/img/mitutoyo.png" class="altura">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  ">
          <p class="texto"> <h3><b>EMESA (caracas)</b></h3>

       </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  " id="center">
            <span>
              <p class="texto"> </p><h5><b>Manejo y Calibración De Equipo De Medición

                MITUTOYO

                </b></h5>

            </span>
        </div>


          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  ">
            <img src="../../../assets/img/unidata.jpg" class="altura">
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  ">
            <p class="texto"> <h3><b>Unidata(Mcbo-Zulia)</b></h3>

         </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  " id="center">
              <span>
                <p class="texto"></p><h5><b>

                   Saint Administrativo
                  Mcbo., Diciembre 92 <br>
                   Introducción a Redes de Áreas Local.
                  Mcbo, Marzo97 </b> </h5>

              </span>
          </div>


            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  ">
              <img src="../../../assets/img/manufactura.jpg" class="altura">
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
              <p class="texto"> <h3><b>M.P.V. Manufactura
                Petrolera Venezolana
                (Mcbo-Zulia)</b></h3>

           </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " id="center">
                <span>
                  <p class="texto"></p><h5><b>  MANEJO DE PRODUCTO EBRO ELECTRONIC <br>
                    Electrónico Thermometer <br>
                    Hygrometer<br>
                   Vacumeter <br>
                    Temperature Loggers <br>
                    Energy Analyzer <br>
                   Mcbo , Octubre´95 <br>
                   Dictado por Alemanes de la Empresa EBRO.    </b> </h5>

                </span>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  ">
              <img src="../../../assets/img/mision ribas.jpg" class="altura">
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
              <p class="texto"> <h3><b> MISION RIBAS </b></h3>

           </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " id="center">
                <span>
                  <p class="texto"></p><h5><b> ¿COMO GARANTIZA LOS PROCESO DE APRENDIZAJE TOMANDO EN CUENTA LOS
                    PRINCIPIOS ANDRAGONICO?  </b> </h5>

                </span>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  ">
              <img src="../../../assets/img/SUSEINCA.jpg" class="altura">
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
              <p class="texto"> <h3><b> SUSEINCA </b></h3>

           </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " id="center">
                <span>
                  <p class="texto"></p><h5><b> I. Mcbo. Noviembre´94
                    Manómetro Analógico y digital
                    Vacuometro, Sello Químico.
                    Rabos de Cochino
                    Termómetro Bimetalico,
                    Industriales y de Mercurio
                    Presostatos y Termostatos.
                    Controladores de Temperatura
                    Pirometro, Cables Compesado. </b> </h5>

                </span>
            </div>


 </div>


