<div class="row">
  <h1>Hard Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="50"
      [radius]="100"
      [showUnits]="false"
      [title]="'HTML'"
      [subtitle]="'50%'"
      [subtitleColor]="'blue'"
      [subtitleFontSize]="'2rem'"
      [titleColor]="'blue'"
      [titleFontSize]="'2rem'"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#0040ff'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [showUnits]="false"
    [title]="'CSS'"
    [subtitle]="'50%'"
    [subtitleColor]="'blue'"
    [subtitleFontSize]="'2rem'"
    [titleColor]="'blue'"
    [titleFontSize]="'2rem'"

    [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#0040ff'"
      [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="45"
    [radius]="100"
    [showUnits]="false"
    [title]="'Javascript'"
    [subtitle]="'45%'"
    [subtitleColor]="'blue'"
    [subtitleFontSize]="'2rem'"
    [titleColor]="'blue'"
    [titleFontSize]="'2rem'"

    [outerStrokeWidth]="8"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#0040ff'"
    [innerStrokeColor]="'#000000'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="45"
    [radius]="100"
    [showUnits]="false"
    [title]="'GIT y GITHUB'"
    [subtitle]="'45%'"
    [subtitleColor]="'blue'"
    [subtitleFontSize]="'2rem'"
    [titleColor]="'blue'"
    [titleFontSize]="'25px'"

    [outerStrokeWidth]="8"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#0040ff'"
    [innerStrokeColor]="'#000000'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'Scrum'"
    [subtitle]="'85%'"
    [subtitleColor]="'blue'"
    [subtitleFontSize]="'2rem'"
    [titleColor]="'blue'"
    [titleFontSize]="'2rem'"

    [outerStrokeWidth]="8"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#0040ff'"
    [innerStrokeColor]="'#000000'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="50"
    [radius]="100"
    [showUnits]="false"
    [title]="'Bootstrap'"
    [subtitle]="'50%'"
    [subtitleColor]="'blue'"
    [subtitleFontSize]="'2rem'"
    [titleColor]="'blue'"
    [titleFontSize]="'2rem'"

    [outerStrokeWidth]="8"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#0040ff'"
    [innerStrokeColor]="'#000000'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="40"
        [radius]="100"
        [showUnits]="false"
        [title]="'TypeScript'"
        [subtitle]="'40%'"
        [subtitleColor]="'blue'"
        [subtitleFontSize]="'2rem'"
        [titleColor]="'blue'"
        [titleFontSize]="'2rem'"

        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#0040ff'"
        [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
            [percent]="50"
            [radius]="100"
            [showUnits]="false"
            [title]="'MySQL'"
            [subtitle]="'50%'"
            [subtitleColor]="'blue'"
            [subtitleFontSize]="'2rem'"
            [titleColor]="'blue'"
            [titleFontSize]="'2rem'"

            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#0040ff'"
            [innerStrokeColor]="'#000000'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
            </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
              [percent]="45"
              [radius]="100"
              [showUnits]="false"
              [title]="'Java'"
              [subtitle]="'45%'"
              [subtitleColor]="'blue'"
              [subtitleFontSize]="'2rem'"
              [titleColor]="'blue'"
              [titleFontSize]="'2rem'"

              [outerStrokeWidth]="8"
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#0040ff'"
              [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
          </div>


</div>


