<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
    <img src="../../../assets/img/foto yusver.png" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
    <p id="nombre">Yusver Jose<br> Ortega Ortega</p>
    <p class="titulo">Full Stack Developer Jr</p>
 </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
      <span>
        <h1 >Acerca de Mí</h1>
        <p id="justificar">
          Adjunto a la presente mi resumen currículum vitae a fin de que sea estudiado por ustedes para una posible ubicación en la empresa que representan. Tengo 10 Año de conocimiento en las áreas de COMPRA (nacionales e internacionales), conocimiento en VENTAS, ALMACEN, INFORMATICA, conocimientos en CONTROL DE INVENTARIOS Y CALIDAD, conocimiento en NOMINA Y ADMINISTRACION CONTABILIDAD E INSTRUMENTACION. Tengo 10 años de experiencia en operador de seguridad ( OPERADOR DE SEGURIDAD EN PDVSA y en varios restaurante ) , tengo conocimientos en REPARACION Y MANTENIMIENTOS DE COMPUTADORA, PROGRAMADOR Y DISEÑADOR DE PAGINA WEB, por ser mi área laboral, pero esto no es limitativo ya que me siento capacitado para desempeñarcualquier cargo dentro de la Organización.
        </p>
      </span>
  </div>

</div>
